.hero {
    background: url("https://papers.co/wallpaper/papers.co-be51-lamborghini-car-dark-art-illustration-28-wallpaper.jpg") no-repeat center/cover;
    padding: 196px 0;
    text-align: center;
}

.hero-btn {
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #aeaeb2;
    font-family: 'Urbanist', sans-serif;
    color: #f5f5f7;
    transition: .5s;
    margin-top: 45px;
}

.hero-btn:hover {
    background: rgba(245, 245, 247, 0.11);

}

.hero-title {
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
    color: #f5f5f7;
    font-weight: 300;
}

