
.page {
    padding: 10px;
}

.newsPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
    grid-gap: 5px;
    border-bottom: 1px solid #aeaeb2;
    align-items: center;
}

.newsPage-title {
    font-size: 33px;
    margin: 60px 0;
    color: #333333;
    font-weight: 300;
}

.newsPage-btn{
    padding: 8px 10px;
    border: none;
    background-color: #333333;
    color: #e2e2e2;
    transition: .3s;
    /*margin: 52px 0 0 463px;*/
}

.newsPage-btn:hover{
    background-color: #535353;
}

.img-page{
    height: 300px;
    width: 450px;
    object-fit: cover;
    margin: 0 auto;
}