



.footer{
    padding: 6px 20px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
    color: #aeaeb2;
}

.site-author{
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
    color: #aeaeb2;
}